@import "tailwindcss";

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(204, 198, 198, 0.753); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-overlay.transparent-white {
  background-color: rgb(223, 214, 214); 
}


@media (max-width: 640px) { 
  .sidebar-left {
    display: none !important; 
  }

}


@media (min-width: 641px) {
  .sidebar-left {
    display: flex !important;
  }

}