@import "tailwindcss";

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(63, 62, 62, 0.267); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-overlay.transparent-white {
  background-color: rgb(255, 255, 255); 
}


@media (max-width: 640px) { 
  .sidebar-left {
    display: none !important; 
  }

  .modal-overlay {
    background-color: rgba(99, 97, 97, 0.329); 
    width:46vh !important;
  }

}


@media (min-width: 641px) {
  .sidebar-left {
    display: flex !important;
  }

  .modal-overlay {
    background-color: rgba(99, 97, 97, 0.329); 
    width:46vh !important;
  }

}

@media (width: 1280px) and (height: 800px) {
  .modal-overlay {
    background-color: rgba(61, 61, 60, 0.219);
    width: 1280px !important; 
   
  }
}

@media (width: 1024px) and (height: 600px) {
  .modal-overlay {
    background-color: rgba(95, 96, 97, 0.5); 
    width: 1024px !important;
  }
}

@media (width: 1024px) and (height: 1366px) {
  .modal-overlay {
    background-color: rgba(70, 130, 180, 0.5); 
    width: 1024px !important; 
  }
}

@media (min-width: 1920px) {
  .modal-overlay {
   background-color: rgba(82, 80, 80, 0.267); 
   width:1920px !important;
  }
}